<nav class="blue darken-4">
  <div class="nav-wrapper">
    <ul class="left">
      <li>
        <a routerLink="/home" class="waves-effect waves-light">
          <i class="material-icons">arrow_back</i>
        </a>
      </li>
    </ul>
    <a class="brand-logo center">
      <h5 class="m-t-1rm">Perfil</h5>
    </a>
  </div>
</nav>

<div class="container">
  <div class="section">
    <div class="card-panel center-align">
      <div class="row">
        <br>
        <div class="col s10 offset-s1">
          <div class="row">
            <div class="input-field col s12">
              <input id="identificacion" type="number" class="validate" [(ngModel)]="usuario.identificacion" disabled="disabled">
              <label for="identificacion" class="active">*identificación</label>
            </div>
            <div class="input-field col s12">
              <input id="nombre" type="text" class="validate" [(ngModel)]="usuario.nombre">
              <label for="nombre" class="active">*Nombre</label>
            </div>
            <div class="input-field col s12">
              <input id="apellidos" type="text" class="validate" [(ngModel)]="usuario.apellidos">
              <label for="apellidos" class="active">*Apellidos</label>
            </div>
            <div class="input-field col s12">
              <input id="usuario" type="text" class="validate" [(ngModel)]="usuario.usuario">
              <label for="usuario" class="active">*Usuario</label>
            </div>
            <div class="input-field col s12">
              <input id="clave" type="password" class="validate" [(ngModel)]="clave">
              <label for="clave" class="active">*Nueva Clave</label>
            </div>
            <div class="input-field col s12">
              <input id="claveConfirm" type="password" class="validate" [(ngModel)]="confirmClave">
              <label for="claveConfirm" class="active">*Confirmar Clave</label>
            </div>
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" [(ngModel)]="usuario.correo">
              <label for="email" class="active">*Correo</label>
            </div>
            <div class="input-field col s12 hide">
              <select id="tipo" materialize="material_select" [(ngModel)]="usuario.tipo">
                <option [value]="false" selected>Estandar</option>
                <option [value]="true">Administrador</option>
              </select>
              <label for="tipo">Tipo</label>
            </div>
            <div class="input-field col s12 hide">
              <select id="estado" materialize="material_select" [(ngModel)]="usuario.estado">
                <option [value]="true">Activo</option>
                <option [value]="false">Inactivo</option>
              </select>
              <label for="estado">Estado</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn">
    <a (click)="saveUsuario()" class="btn-floating btn-large waves-effect waves-light z-depth-3 blue darken-4">
      <i class="material-icons">save</i>
    </a>
  </div>
</div>