<nav class="blue darken-4">
  <div class="nav-wrapper">
    <ul class="left">
      <li>
        <a materialize="sideNav" [materializeParams]="[{closeOnClick: true}]" data-activates="slide-out" class="waves-effect waves-light">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
    <a class="brand-logo center">
      <h5 class="m-t-2rm home-title">Policía Militar Aérea</h5>
    </a>
  </div>
</nav>

<div class="row">
  <div class="col s12">
    <div class="card-panel cacom"></div>
  </div>

  <div class="col s12">
    <div class="card-panel blue darken-4 center">
      <h3><span class="white-text">Listado de Infracciones</span></h3>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel">
      <p>
        En el siguiente listado se describen las infracciones por las cuales un miembro de la
        <span class="blue-text">Policía Militar Aérea</span> puede sancionar a una persona al interior de la unidad militar
        (para este caso el Comando Aéreo de Combate No. 4)
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 listado">
    <ul class="collection blue-text">
      <li class="collection-item">No portar fichero personal.</li>
      <li class="collection-item">No portar fichero vehicular.</li>
      <li class="collection-item">Exceso de velocidad (15Km/H).</li>
      <li class="collection-item">Parqueo en zona no autorizada.</li>
      <li class="collection-item">No parquear el vehículo en reversa.</li>
      <li class="collection-item">No tener la documentación del vehículo en regla.</li>
      <li class="collection-item">Llevar sobrecupo en el vehículo.</li>
      <li class="collection-item">Conducir en estado de embriaguez.</li>
      <li class="collection-item">Conducir sin licencia de conducción.</li>
      <li class="collection-item">No portar casco apropiado.</li>
      <li class="collection-item">No usar cinta reflectiva después de las 18:00 en bicicletas o trote.</li>
      <li class="collection-item">Irrespeto a la policía militar aérea.</li>
      <li class="collection-item">Realizar escándalos en áreas sociales.</li>
      <li class="collection-item">Presentarse bajo efectos del alcohol o drogas al servicio.</li>
      <li class="collection-item">Arrojar basura o desechos en lugares no estipulados.</li>
      <li class="collection-item">Fumar en zonas no permitidas dentro de la unidad.</li>
      <li class="collection-item">Tener los aires acondicionados encendidos en horas y días no permitidos.</li>
      <li class="collection-item">No utilizar el gorro, gorra o cubrecabeza.</li>
      <li class="collection-item">Usar el uniforme sin parches.</li>
    </ul>
  </div>
</div>