<div class="navbar-fixed">
  <nav class="blue darken-4">
    <div class="nav-wrapper" *ngIf="!buscando">
      <ul class="left">
        <li>
          <a materialize="sideNav" [materializeParams]="[{closeOnClick: true}]" data-activates="slide-out" class="waves-effect waves-light">
            <i class="material-icons">menu</i>
          </a>
        </li>
      </ul>
      <a class="brand-logo center">
        <h6 class="m-t-2rm">Dependencias</h6>
      </a>
      <ul class="right">
        <li>
          <a (click)="focusBuscar()" class="waves-effect waves-light">
            <i class="material-icons">search</i>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-wrapper" *ngIf="buscando">
      <div class="input-field">
        <input id="search" type="search" #filtro (blur)="blurBuscar()" (keyup)="filtrar(filtro.value)">
        <label class="label-icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <i class="material-icons" (click)="clearBuscar()">close</i>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <div *ngIf="dependenciaService.filters$ | async as dependencias">
    <ul class="collection m-b-0" *ngIf="dependencias.length">
      <li class="collection-item waves-effect list" *ngFor="let dependencia of dependencias" routerLink="/dependencia-detail/{{dependencia.id}}">
        <h6>
          <b>{{dependencia.abreviatura}}</b> - {{dependencia.nombre}}
        </h6>
      </li>
    </ul>
    <div class="center-align" *ngIf="!dependencias.length && !buscando">
      <br>
      <h6>
        <b>No se encuentra ningun registro</b>
        <br>
        <br>Toca "+" para crear tu primera dependencia
      </h6>
    </div>
  </div>

  <div class="fixed-action-btn" *ngIf="!buscando">
    <a routerLink="/dependencia-detail/0" class="btn-floating btn-large waves-effect waves-light z-depth-3 blue darken-4">
      <i class="material-icons">add</i>
    </a>
  </div>
</div>